<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="master.css">
    <title>Thought Forms</title>
  </head>
  <body>
    <h1>Thought Box</h1>
    <form  action="/thoughtLocation" method="get">
      <input type="text" name="title" placeholder="title"><br>
      <textarea name="thought" rows="8" cols="80" placeholder="thoughts..."></textarea>
      <button type="submit" name="button">Make Thought</button>
    </form>
  </body>
</html>
