<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="master.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title>Thoughts</title>
  </head>
  <body>
    <div class="clouds">
      <img src="cloud.png" alt="">
      <h1>Thought Box</h1>
    </div>
      <a href="/forms">Input thought here!</a>
  </body>
</html>
