html {
  height: 100%
}


body {
  background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 38%,#207cca 38%,#2989d8 59%,#2989d8 59%,#7db9e8 100%);
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  position: absolute;
  top: 250px;
  left: 39%;
}

img {
  position: relative;
  text-align: center;
  left: 30%;
  height: 30%;
}

a {
  position: absolute;
  left: 35%;
  font-size: 3em;
  text-decoration: none;
  font-family: 'Indie Flower';
  font-style: italic;

}

a:link {
  color: white;
}

a:visited {
  color: white;
  text-outline: black;
}

a:hover {
  color: slategrey;
}

.inputs {
  text-align: center;
  position: relative;

}

.title {
  position: relative;
  right: 13%;
  background-color: slategrey;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: black;
}

.thoughts {
  background-color: slategrey;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.create {
  width: 38%;
  height: 10%;
  background-color: cornflowerblue;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

li {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

.thoughtBox {
  border: 1px black;
}
